<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
</head>
<body>
<!--CEK DISINI-->

<section id="cek">
  <div class="container-fluid overlay h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="kontak">
            <h2>Diagnosis Tumor Otak</h2>
            <div class="mb-3">
              <input type="file" id="fileMRI" class="d-none">
              <label for="fileMRI" class="button-hasil">UPLOAD MRI</label>
            </div>
            <div class="mb-3">
              <div class="card-hasil" id="cardHasil"></div>
            </div>
            <div class="mb-3">
              <button class="button-diagnosa" id="btnCek">CEK</button>
            </div>
            <div class="mb-5">

            <button id="btnHasilDiagnosis" class="button-hasil" disabled>HASIL DIAGNOSIS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>